<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="{{ url_for('static', filename='styles/doctordash.css') }}" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="branding">
        <span class="company-name">HealthLink Central</span>
      </div>
      <!-- Hamburger menu for mobile -->
      <div class="hamburger-menu" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- Navigation links -->
      <div class="nav-links">
        <a href="/doctor_dashboard/appointments" class="nav-link">Appointments</a>
        <a href="/doctor_dashboard/reports" class="nav-link">Reports</a>
        <a href="/doctor_dashboard/profile" class="nav-link">Profile</a>
        <a href="/logout" class="nav-link">Logout</a>
      </div>
    </div>
  </nav>

  <header>
    <h1>Welcome, Dr. {{doctor['fullName']}}</h1>
  </header>

  {% block content %}{% endblock %}

  <script>
    // JavaScript function to toggle menu visibility
    function toggleMenu() {
      document.querySelector(".nav-links").classList.toggle("show");
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
