<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Dashboard</title>
  <link rel="stylesheet" href="static/styles/doctordash.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <span id="doctor-name" class="doctor-name"></span>
      <a href="/doctor_dashboard/appointments" class="nav-link">Appointments</a>
      <a href="/doctor_dashboard/reports" class="nav-link">Reports</a>
      <a href="/logout" class="nav-link">Logout</a>
    </div>
  </nav>

  <header>
    <h1>Welcome, Dr. {{doctor['fullName']}}</h1>
  </header>

    {% block content %}{% endblock %}
</body>
</html>
