<title>Login</title>
{% extends "login_layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/login.css">
<div class="container">
  <h1>Doctor Login</h1>
  <form method="POST" id="hospitalLoginForm">
      <label for="registrationNumber">Registration Number:</label><br>
      <input type="registrationNumber" id="registrationNumber" name="registrationNumber" required><br><br>

      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br><br>

      <input type="submit" value="Login">
  </form>
</div>
{% endblock %}
