<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet">
    <title> {% block title %}Hospital Dashboard{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <a href="/hospital_dashboard" style="text-decoration:none; color:black;"><h1>{{hospital.name}}</h1></a>
        <a href="/hospital_dashboard/patients" class="nav-link">Patients</a>
        <a href="/hospital_dashboard/appointments" class="nav-link">Appointments</a>
        <a href="/hospital_dashboard/doctors" class="nav-link">Doctors</a>
        <a href="/hospital_dashboard/pharma" class="nav-link">Pharma</a>
        <a href="/hospital_dashboard/reports" class="nav-link">Reports</a>
        <a href="logout" class="nav-link">Logout</a>

      </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
