<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Dashboard</title>
    <link href="{{ url_for('static', filename='styles/patientdash.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        
        <a href="/patient_dashboard/new_appointment" class="nav-link">New Appointment</a>
        <a href="/patient_dashboard/reports" class="nav-link">Bills</a>
        <a href="/patient_dashboard/prescriptions" class="nav-link">Prescription</a>
        <a href="/logout" class="nav-link">Logout</a>

      </div>
    </nav>
  
    {% block content %}{% endblock %}
</body>
</html>
