{% extends "patient_dashboard_layout.html" %}
<title>{{patient[0]}} New Appointment</title>


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/all_forms.css') }}">
<div class="form">

  <form id="patientNewAptmtForm" class="formStyle" onsubmit="return validateForm()" action='/patient_dashboard/new_appointment' method='POST'>
<h1 style="display:flex;justify-content: center;">New Appointment</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="small_container">
  <label for="selectRelative">Select Relative:</label><br>
  <select id="selectRelative" name="selectRelative" default="">
    <option value="">Self</option>
    <option value="new" name="patientRelative" id="patientRelative">New</option>
    {% for relative in relatives %}
      <option value="{{ relative['relationId'] }}">{{ relative['fullName'] }} ({{ relative['relationship'] }})</option>
    {% endfor %}
  </select>
</div>
<br><br>

    <div class="small_container">
      <label for="fullName">Full Name:</label><br>
    <input type="text" id="fullName" name="fullName" value="{{ patient.fullName }}" required>
    </div>
    <br><br>
    <div class="small_container">
      <label for="phone">Phone Number:</label><br>
    <input type="tel" id="phone" name="phone" value="{{ patient.phone }}" required>
    </div>
    <br><br>
    <div class="small_container">
      <label for="email">E mail:</label><br>
    <input type="email" id="email" name="email" value="{{ patient.email }}" required>
    </div>
    <br><br>
    <div class="small_container">
      <label for="dob">DOB:</label><br>
    <input type="date" id="dob" name="dob" value="{{ patient.dob }}" required>
    </div>
    <br><br>
    <div class="small_container">
      <label for="bloodGroup">Blood Group</label><br>
    <select id="bloodGroup" name="bloodGroup" required>
      <option value="{{ patient.bloodGroup }}" selected>{{ patient.bloodGroup }}</option>
      {% for group in ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'] %}
      {% if group!= patient.bloodGroup %}
      <option value="{{ group }}">{{ group }}</option>
      {% endif %}
      {% endfor %}
    </select>
    </div>
    <br><br>
    <div class="small_container">
      <label for="hospital">Select Hospital:</label><br>
      <select id="hospital" name="hospital" required>
        <option value="Select">Select</option>
        {% for hospital in hospitals %}
        <option value="{{hospital.name}}">{{hospital.name}}</option>
        {% endfor %}
      </select>
    </div>
    <br><br>

    <div class="small_container">
      <label for="department">Select Department:</label><br>
      <select id="department" name="department" required>
          <option value="Select">Select</option>
      </select>
  </div>
    <br><br>
    <div class="small_container">
      <label for="doctor">Select Doctor:</label><br>
      <select id="doctor" name="doctor" required>
        <option value="Select">Select Doctor</option>
      </select>
    </div>
    <br><br>
    <div class="small_container">
      <label for="visitDate">Expected visit vate</label><br>
    <input type="date" id="visitDate" name="visitDate" required>
    </div>
    <br><br>
    <div id="relativeCheckbox" class="small_container hidden">
      <label for="patientRelative">Add this user to your relative list:</label><br>
      <input type="checkbox" id="patientRelative" name="patientRelative">
      <br><br>
    </div>
  <div id="relativeType" class="small_container hidden">
      <label for="relativeTypeSelect">Relative Type:</label><br>
      <select id="relativeTypeSelect" name="relativeType">
          <option value="">Select Relative Type</option>
          <option value="father">Father</option>
          <option value="mother">Mother</option>
          <option value="Son">Son</option>
          <option value="Daughter">Daughter</option>
          <option value="brother">Brother</option>
          <option value="sister">Sister</option>
          <option value="uncle">Uncle</option>
          <option value="aunt">Aunt</option>
      </select>
  </div>
  <br><br>
  <div class="submitButton">
      <input class="submit-btn" type="submit" value="Register">
  </div>
</form>

<script>
  const hospitalSelect = document.getElementById('hospital');
  const departmentSelect = document.getElementById('department');
  const doctorSelect = document.getElementById('doctor');

  const hospitalData = {
    {% for hospital in hospitals %}
    "{{ hospital.name }}": {{ hospital.departments | tojson }},
    {% endfor %}
};
// Function to update the department dropdown based on the selected hospital
        hospitalSelect.addEventListener('change', function() {
            const selectedHospital = hospitalSelect.value;

            // Clear the department dropdown
            departmentSelect.innerHTML = '<option value="Select">Select</option>';

            // Check if a valid hospital is selected
            if (selectedHospital in hospitalData) {
                // Get the departments for the selected hospital
                const departments = hospitalData[selectedHospital];

                // Add each department as an option in the department dropdown
                departments.forEach(function(department) {
                    const option = document.createElement('option');
                    option.value = department;
                    option.textContent = department;
                    departmentSelect.appendChild(option);
                });
            }
        });
  
  // Fetch doctors based on the selected hospital and department
  departmentSelect.addEventListener('change', function() {
    const selectedHospital = hospitalSelect.value;
    const selectedDepartment = departmentSelect.value;

    // Only fetch doctors if both hospital and department are selected
    if (selectedHospital && selectedDepartment) {
      fetch(`/get_doctors?hospital=${selectedHospital}&department=${selectedDepartment}`)
        .then(response => response.json())
        .then(data => {
          const doctors = data.doctors;

          // Clear existing doctor options
          doctorSelect.innerHTML = '<option value="Select">Select</option>';

          // Populate doctor dropdown
          doctors.forEach(function(doctor) {
            const option = document.createElement('option');
            option.value = doctor.id;
            option.textContent = doctor.name;
            doctorSelect.appendChild(option);
          });
        })
        .catch(error => console.error('Error fetching doctors:', error));
    }
  });

  document.addEventListener('DOMContentLoaded', () => {
      const selectRelativeDropdown = document.getElementById('selectRelative');
      const fullNameField = document.getElementById('fullName');
      const phoneField = document.getElementById('phone');
      const dobField = document.getElementById('dob');
      const bloodGroupField = document.getElementById('bloodGroup');
      const emailField = document.getElementById('email')
      
      const originalFullName = "{{ patient.fullName }}";
      const originalDob = "{{ patient.dob }}";
      const originalBloodGroup = "{{ patient.bloodGroup }}";
      const originalPhone = "{{ patient.phone }}"
      const relativeTypeContainer = document.getElementById('relativeType');
      
      
      emailField.disabled = true;
      phoneField.disabled = true;
      fullNameField.disabled = true;
      dobField.disabled = true;
      bloodGroupField.disabled = true;
  
      function updateRelativeTypeVisibility() {
          if (selectRelativeDropdown.value === "new") {
              relativeTypeContainer.classList.remove('hidden');
          } else {
              relativeTypeContainer.classList.add('hidden');
              relativeTypeSelect.value = ""; 
          }
      }
    // Get today's date and the date 7 days later
    const today = new Date();
    const endDate = new Date();
    endDate.setDate(today.getDate() + 7);

    // Format the date to yyyy-mm-dd format
    const todayStr = today.toISOString().split('T')[0];
    const endDateStr = endDate.toISOString().split('T')[0];

    // Set min and max attributes for the date input field
    document.getElementById('visitDate').setAttribute('min', todayStr);
    document.getElementById('visitDate').setAttribute('max', endDateStr);
      // Initialize visibility based on current form values
      updateRelativeTypeVisibility();

      const relativeData = {
        {% for relative in relatives %}
          "{{ relative['relationId'] }}": {
            "fullName": "{{ relative['fullName'] }}",
            "dob": "{{ relative['dob'] }}",
            "bloodGroup": "{{ relative['bloodGroup'] }}"
          },
        {% endfor %}
      };
      selectRelativeDropdown.addEventListener('change', async function() {
        const relativeId = selectRelativeDropdown.value;
        const isSelfSelected = selectRelativeDropdown.value === "";
        if (isSelfSelected) {
          emailField.disabled = true;
          phoneField.disabled = true;
          fullNameField.disabled = true;
          dobField.disabled = true;
          bloodGroupField.disabled = true;

          fullNameField.value = originalFullName;
          phoneField.value = originalPhone;
          dobField.value = originalDob;
          bloodGroupField.value = originalBloodGroup;
          updateRelativeTypeVisibility();
      } else if (relativeId === "new"){
        fullNameField.disabled = false;
        dobField.disabled = false;
        bloodGroupField.disabled = false;

        fullNameField.value = "";
        dobField.value = "";
        bloodGroupField.value = "";
        phoneField.value = "{{ patient.phone }}"
        emailField.value = "{{ patient.email }}"
        updateRelativeTypeVisibility();
      } 
      else {
          emailField.disabled = true;
          phoneField.disabled = true;
          fullNameField.disabled = true;
          dobField.disabled = true;
          bloodGroupField.disabled = true;

          const selectedRelative = relativeData[relativeId];
          if (selectedRelative) {
            fullNameField.value = selectedRelative.fullName;
            dobField.value = selectedRelative.dob;
            bloodGroupField.value = selectedRelative.bloodGroup;
            phoneField.value = "{{ patient.phone }}"
            emailField.value = "{{ patient.email }}"
          }
          updateRelativeTypeVisibility();
        }
      });
  });
</script>
{% endblock %}
